@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

/*Обнуление*/
	*{
		padding: 0;
		margin: 0;
		border: 0;
	}
	*,*:before,*:after{
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}
	:focus,:active{outline: none;}
	a:focus,a:active{outline: none;}

	nav,footer,header,aside{display: block;}

	html,body{
		height: 100%;
		width: 100%;
		min-height: 100%;
		line-height: 1;
		font-size: 16px;
		font-weight: 600;
		font-family:"Montserrat", sans-serif;
		-ms-text-size-adjust: 100%;
		-moz-text-size-adjust: 100%;
		-webkit-text-size-adjust: 100%;
	}
	input,button,textarea{font-family:inherit;}

	input::-ms-clear{display: none;}
	button{cursor: pointer;}
	button::-moz-focus-inner {padding:0;border:0;}
	a, a:visited{text-decoration: none;}
	a:hover{text-decoration: none;}
	ul li{list-style: none;}
	img{vertical-align: top;}

	h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

.wrapper{
	min-height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	min-width: 100%;
}

.footer{
	background-color:  #fff;
	font-size: 14px;
	font-weight: 600;
	font-family:"Montserrat", sans-serif;
	text-align: center;
	width: 100%;
	margin:10% 0 0 0;
	padding: 20px 0 20px 0;
	border-top: 1px solid #171515;
}

/*header*/
	.header{
		position: fixed;
		width: 100%;
		top:0;
		left: 0;
		z-index: 3;
		background-color: #fff;
		font-size: 16px;
		font-weight: 600;
	}

	.header:before{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 2;
	}

	.header_container{
		max-width: 1180px;
		margin: 0 auto;
		padding: 0 10px;
		
	}

	.header_body{
		position: relative;
		display: flex;
		justify-content: space-between;
		height: 120px;
		align-items: center;
		
	}

	.header_menu{
		display: flex;
		position: relative;
		align-self: center;
		z-index: 4;
	}

	.header_list{
		display: flex;
		align-items: center;
		z-index: 2;
		margin-left: -30px;
	}

	.header_list li{

		margin: 0 20px;
	}

	.header_list li:hover{
		transition: all .3s ease 0s;
		opacity: 60%;
	}

	.header_link {
		color: black;
		font-size: 16px;
		text-decoration: none;
	}

	.header_logo {
		display: flex;
		position: relative;
		z-index: 3;
		width: 100px;
		height: 100px;	
	}

	.header_logo img{
		max-width: 100%;
	}

	.header_cart{
		width: 25px;
		height: 25px;
		z-index: 3;
		margin-right: 20px;
	}

	.header_cart img{
		display: block;
		max-width: 100%;
	}

	.header_cart img:hover{
		opacity: 60%;
	}	

	.header_logo img:hover{
		opacity: 60%;
	}

	.header_burger{
		display: none;
	}

/*main = content*/
	.main{
		padding: 140px 0 0 0;
	}
	h1.h1{
		font-family: "Montserrat", sans-serif;
		font-size: 32px;
		font-weight: 800;
		text-align: center;
		color: #474747;
	}

	.text_body{
		width: 50%;
		margin: 0 auto;
		padding: 30px 0;
		font-family: "Montserrat", sans-serif;
		font-size: 16px;
		font-weight: 600;
		text-align: center;
		color: #474747;
	}

/*медиа запрос для экранов тлф*/
	@media (max-width: 767px){

		body.lock {
			overflow: hidden;
		}

		.header_burger {
			display: block;
			position: relative;
			width: 23px;
			height: 21px;
			z-index: 5;
		}

		.header_burger span {
			position: absolute;
			background-color: #474747;
			left: 0;
			width: 100%;
			height: 3px;
			top: 9px;
			-webkit-transition: all 0.3s ease 0s;
			transition: all 0.3s ease 0s;
		}

		.header_burger::before, .header_burger::after {
			content: "";
			background-color: #474747;
			position: absolute;
			width: 100%;
			height: 3px;
			-webkit-transition: all 0.3s ease 0s;
			transition: all 0.3s ease 0s;
		}

		.header_burger::before {
			top: 0;
		}

		.header_burger::after {
			bottom: 0;
		}

		.header_burger.active {
			height: 23px;
		}

		.header_burger.active::before {
			-webkit-transform: rotate(45deg);
			transform: rotate(45deg);
			top: 10px;
		}

		.header_burger.active::after {
			-webkit-transform: rotate(-45deg);
			transform: rotate(-45deg);
			bottom: 10px;
		}

		.header_burger.active span {
			-webkit-transform: scale(0);
			transform: scale(0);
		}
		
		.header_menu{
			position: fixed;
			overflow: auto;
			top: -100%;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: #fff;
			padding: 120px 20px 30px 20px;
			-webkit-transition: all 0.3s ease 0s;
			transition: all 0.3s ease 0s;
		}

		.header_menu.active {
			top: 0;
		}

		.header_list{
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			-ms-flex-direction: column;
			flex-direction: column;
			font-size: 20px;
			margin: 0;
			align-items: flex-start;
		}
		
		.header_body{
			height: 80px;
		}
		
	/*	.header_list{
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			-ms-flex-direction: column;
			flex-direction: column;
			font-size: 20px;
		}
		*/
		
		.header_list li{
			margin: 0 0 20px 0;
		}
		
		.burger_logo{
			display: flex;
			align-items: center;
			max-height: 60px;
			max-width: 80px;
			z-index: 3;
			justify-content: flex-end;
			margin-right: 20px;
		}
		
		.burger_logo img{
			width: 65px;
			height: 65px;
		}
		
		.header_logo {
			display: flex;
			position: relative;
			z-index: 3;
			width: 65px;
			height: 65px;
		}
		
		.header_logo img{
			max-width: 100%;
		}
		
		.header_cart{
			position: relative;
			justify-content: flex-end;
			z-index: 3;
			margin-right: 20px;
		}
		
		.header_cart img{
			width: 25px;
			height: 25px;
			max-width: 100%;
		}
	}

/*каталог товаров = магазин*/

	.products_container {
		margin: 0 50px;
	}
	
	.product_title {
		font-family: "Montserrat", sans-serif;
		text-align: center;
		color: #474747;
	}
	._title {
		font-size: 24px;
		font-weight: 1000;
		margin: 20px 0;
		
	}
	.__title {
		font-size: 18px;
		font-weight: 600;
		margin: 10px 0;
		
	}

	/*Для примера*/

	.product_items {
		margin: 50px 50px 30px;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 40px;
	}

	/*Для примера*/

	@media(max-width: 767px) {
		.product_items {
			grid-template-columns: 1fr 1fr;
		}
	}

	@media(max-width: 425px) {
		.product_items {
			grid-template-columns: 1fr;
		}
	}


	a.block_a_product{
		display: block;
		cursor:pointer;
		 height: 100%;
		 width: 100%;
		 
	}

	.product_item {
		flex-basis: 30%;
	}

	.item-product {
		display: flex;
		flex-direction:column;
		position: relative;
	}

	.item-product_labels {
		position: absolute;
		top:5px;
		right: 5px;
		z-index: 2;
		display: flex;
		flex-direction: column;
		font-family: "Montserrat", serif;
		text-align: center;
		color: #474747;
		font-weight: 600;
		font-size: 15px;
		padding: 15px 5px 14px;
		background-color: #fff;
	}
	.item-product_label {	
	}

	.item-product_image {
		display: flex;
		position: relative;
		flex-wrap: wrap;
	}

	.item-product_image img{
		width: 100%; 
		max-height: 100%;
		flex-wrap: wrap;
	}

	.second_img{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
	}

	.item-product_image:hover .second_img{
		opacity: 1;
		transition: opacity 0.3s;
	}

	.item-product__body {
		flex: 1 1 auto;
		display: flex;
		flex-direction: column;
		position: relative;
		align-items: center;
		padding: 16px 16px 30px 16px;
	}

	.item-product_content {
		flex: 1 1 auto;
	}

	.item-product_title {
		font-weight: 600;
		line-height: 120%;
		margin: 0 0 5px 0;
	}

	.item-product_price {
		font-weight: 400;
	}	
		
/*эскизы*/

	.sketches_container {
		margin: 0 50px;
	}
	
	.sketches_title {
		font-family: "Montserrat", sans-serif;
		text-align: center;
		color: #474747;
	}
	._title {
		font-size: 20px;
		font-weight: 1000;
		margin: 20px 0;
	}
	.__title {
		font-size: 16px;
		font-weight: 600;
		margin: 10px 20px;
	}

	.sketches_items {
		margin: 50px 50px 30px;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 40px;
	}


	@media(max-width: 767px) {
		.sketches_items {
			grid-template-columns: 1fr 1fr;
		}
	}

	@media(max-width: 425px) {
		.sketches_items {
			grid-template-columns: 1fr;
		}
	}


	.sketches_item {
		flex-basis: 30%;
	}
	.item-sketches {
		display: flex;
		flex-direction:column;
		position: relative;
	}
	.item-sketches_image {
		display: flex;
		position: relative;
		flex-wrap: wrap;
	}

	.item-sketches_image img {
		width: 100%; 
		max-height: 100%;
		flex-wrap: wrap;
	}

	.item-sketches__body {
		flex: 1 1 auto;
		display: flex;
		flex-direction: column;
		position: relative;
		align-items: center;
		padding: 16px 16px 30px 16px;
	}
	.item-sketches_content {
		flex: 1 1 auto;
	}
	.item-sketches_title {
		font-size: 14px;
		font-weight: 600;
		line-height: 120%;
		margin: 0 0 5px 0;
	}

	.item-sketches__title {
		font-weight: 400;
		opacity: 80%;
	}

/*портфолио галерея работ*/
	.portfolio_container {
		margin: 20px 20px;
	}
	.portfolio_title {
		font-family: "Montserrat", sans-serif;
		text-align: center;
		justify-content: center;
		color: #474747;
	}
	._title {
		font-size: 20px;
		font-weight: 1000;
		margin: 20px 0;
	}
	.__title {
		font-size: 16px;
		font-weight: 600;
		margin: 10px 0;
	}

	.portfolio_items {
		margin: 50px 50px 30px;
		justify-content: space-between;
		flex-wrap: wrap;
		display: flex;
	}
	.portfolio_item {
		flex-basis: 30%;
	}
	.item-portfolio {
		display: flex;
		flex-direction:column;
		position: relative;
	}
	.item-portfolio_image {
		display: flex;
		position: relative;
		flex-wrap: wrap;
	}

	.item-portfolio_image img {
		width: 100%; 
		max-height: 100%;
		flex-wrap: wrap;
	}

/*спойлер*/
	.spoiler_container{
		margin: 0 30px 0 30px;
	}

	.spoiler{
		margin: 10px 0 20px 0;
	}

	.spoiler_title{
		text-transform: uppercase;
		letter-spacing: 2px;
		position: relative;
		padding: 0 0 0 30px;
		cursor: pointer;

	}

	.spoiler_title:before, .spoiler_title:after{
		content: '';
		width: 10px;
		height: 1px;
		background-color:#000;
		position: absolute;
		top: 5px;
		transition: all 0.3s ease 0s;

	}

	.spoiler_title:before{
		transform: rotate(40deg);
		left: 0;
	}

	.spoiler_title:after{
		transform: rotate(-40deg);
		left: 7px;
	}


	.spoiler_title.active:before,
	.spoiler_title.active:after{
		background-color: green;
	}

	.spoiler_title.active:before{
		transform: rotate(-40deg);
	}

	.spoiler_title.active:after{
		transform: rotate(40deg);
	}

	.spoiler_text{
		display: none;
		padding: 10px 0 20px 0;
	}


/* Свайпер */

	.swiper {
		width: 100%;
		height: 500px;
		margin-bottom: 30px;
	}

	.swiper-slide {
		text-align: center;
		font-size: 18px;
		background: #fff;

		/* Center slide text vertically */
		display: -webkit-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		-webkit-justify-content: center;
		justify-content: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		-webkit-align-items: center;
		align-items: center;
	}

	.swiper-slide img {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.swiper-button-next, .swiper-button-prev {
		--swiper-theme-color: #fff;
	}

	.swiper-pagination-bullet-active {
		--swiper-theme-color: #fff;
	}


/*модальное окно*/
/*	.buy {}
	.modal {
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		position: fixed;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		visibility: hidden;
		z-index: -1;
		opacity: 0;
		transition: all 0,1s ease-out;
	}

	.modal .show{
		visibility: visible;
		z-index: 100;
		opacity: 1;
	}

	.modal_window {
		position: relative;
		z-index: 55;
		width: 550px;
		box-shadow: 0 10px 15px rgba(0,0,0 .4);
		background-color: #fff;
		padding: 30px;


	}
	.modal .overlay {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		background-color: #000;
		opacity: 0.7;
		z-index: 5;
	}

	.btn_close{
		position: absolute;
		right: 20px;
		top: 20px;
		border: none;
		background-color: none;
		opacity: 0.7;
	}
	.btn_close:hover {
		opacity: 1;
	}